@font-face {
    font-family: 'signatra_demoregular';
    src: url('./font/signatra-webfont.woff2') format('woff2'),
         url('./font/signatra-webfont.woff') format('woff'),
         url('./font/Signatra.ttf');
    font-weight: normal;
    font-style: normal;

}

html{
	font-family: 'Arial';
	font-size: 16px;
}
a{
	color: white;
	text-decoration: none;
	padding: 20px;
	transition: 0.7s
	}
a:hover{
	color: blue;
	}

#contenu a{
	color: blue;
	border:1px solid blue;
	border-radius: 15px;
	padding: 20px;
	transition: ease 0.5s;
	

}

#contenu a:hover{
	color: white;
	background-color: rgba(60,95,166,0.8);
}
h1{
	color: rgba(47, 86, 166,1);
	font-size: 48px;
	}


#contenu h2{
	color: #2E56A6;
	font-family: 'signatra_demoregular';
	font-size: 36px

	}

h3{
	color: #2E56A6;
	font-family: 'Lobster', cursive;

}



*{
	margin:0;
	padding:0;
}
#hero{
	background-image: url('./photos/fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
 
	height: 100%
}
nav{
	background-color: rgba(0,0,0,1);
	text-align: center;
	padding top: 10px;
	width:100%;

}

#bandeau{
	background-color: rgba(400,400,400,0.4);
	text-align: center;
	margin: 30px; 
	margin-left: 0.4IN
}
#logob{
	background-color: rgba(0,0,0,0.9);
	text-align: center;

}
#logo{
	width: 15%;
	transition : 0.2s;
}

#sous-titres{
	background-color: black;
	padding: 3%;
	display:block;
}
#sous-titres a{
	color: #2E56A6;
	font-family: 'Lobster', cursive;
	font-size: 1.2em;
	text-decoration: none;
	padding: 5%;
	transition: 0.7s;
}
#sous-titres a:hover{
	color:  white; 
}

#presentation{
	display: flex;
}
#pre_image{
	padding: 20px;
	flex: 1;
}
#pre_image img{
	flex: 1;
	max-width: 100%;
}
#pre_texte{
	flex: 2;
	padding: 20px;
	text-align: justify;
}
#pre_texte h2{
	font-family: 'Arial';
	color: #2E56A6;
}
#service{
	display: flex;
	background-color: #666;
	color: white;
	padding: 20px;
	text-align: center;
}
.service_item p{
	text-align: justify;
	padding: 20px;
}



@media screen and (max-width: 414px){
	#presentation{
		flex-direction: column;
	}
	#service{
		flex-direction: column;
	}
	nav a{
		display: block;
		padding: 10px;
	}
	#sous-titres{
		display: block;
		padding: 15px;
	}
}